<br><br>
<div class="container">
  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Başlık</label>
        <input type="text" class="form-control" id="inputEmail4" #title>
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Metin</label>
      <input type="text" class="form-control" id="inputAddress" #body>
    </div>
    <button type="button" class="btn btn-primary"(click)="Create(title,body)">Gönder</button>
  </form>  
<br>
<hr>
<h2>Postlar</h2>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Başlık</th>
        <th scope="col">Metin</th>
        <th scope="col">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of posts">
        <th scope="row">{{post.id}}</th>
        <td>{{post.title}}</td>
        <td>{{post.body}}</td>
        <td><button class="btn btn-danger" (click)="Remove(post)">Sil</button></td>
      </tr>
    </tbody>
  </table>
</div>